__history
__recovery
backup

_internal/*
Dcu/*
dcu/*
Releases/*
Bin/*
Gui/lib/*
Gui/deskewgui.app

deskew.cfg

*.identcache
*.local
*.~*
*.*~
*.dsk
*.rsm
*.deployproj
*.info.plist
*.lps
*.dbg
*.res
*.stat

